# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.bak
*.so
AIOUSB/samples/USB-AI16-16/*_test
*.cmd
BUILD_LOG.txt
AIOUSB/build
AIOUSB/*TAGS*
AIOUSB/G*
build
*.tap
*_cpp_test
AIOUSB/lib/G*
AIOUSB/html
AIOUSB/latex
AIOUSB/man
AIOUSB/samples/USB-AI16-16/*.txt
HOLD*