/*
 * $RCSfile: stylesheet.css,v $
 * $Revision: 1.7 $
 * $Date: 2009/10/16 05:13:56 $
 * :tabSize=4:indentSize=4:collapseFolds=1:
 *
 * style sheet for all reference documentation
 */

/********************************************************************
 * generic
 ********************************************************************/

/* replacement for common <b> */
.bold {
	font-weight: bold;
}

/* computer commands (such as embedded within sentences) or computer output (if combined with 'output') */
.computer {
	font-family: "Liberation Mono", "DejaVu Sans Mono", "Courier New", "Lucida Console", monospace;
	font-size: 12pt;
}

/* names of program constants and literal values */
.constname {
	font-style: italic;
	font-weight: bold;
}

/* names of files and executable programs */
.filename {
	font-style: italic;
	font-weight: bold;
}

/* page footer */
.footer {
	font-style: italic;
}

/* full program function declarations */
.funcdecl {
	font-family: "Nimbus Sans L", sans-serif;
	font-weight: bold;
}

/* names of program functions */
.funcname {
	font-style: italic;
	font-weight: bold;
}

/* highlight words or sentences */
.highlight {
	background: #ffff80;
}

/* first level indent */
.indent1 {
	margin-left: 1cm;
}

/* second level indent */
.indent2 {
	margin-left: 2cm;
}

/* third level indent */
.indent3 {
	margin-left: 3cm;
}

/* replacement for common <i> */
.italic {
	font-style: italic;
}

/* computer output, typically combined with 'computer' */
.output {
	background: #eeffff;
	border: 1px solid #000000;
	margin-bottom: 0cm;
	padding: 0.1cm;
}

/* names of program data types */
.typename {
	font-style: italic;
	font-weight: bold;
}

/* names of program variables or function parameters */
.varname {
	font-style: italic;
	font-weight: bold;
}

/********************************************************************
 * general documentation
 ********************************************************************/

/* standard hyperlinks */
a {
	color: #3677ac;
	font-weight: bold;
	text-decoration: none;
}

/* hyperlinks when mouse hovers over them */
a:hover {
	background: #eeffff;
}

/* standard headings */
h1, h2, h3 {
	font-family: "Nimbus Sans L", sans-serif;
	font-style: normal;
	margin-bottom: 0.25cm;
	margin-top: 0cm;
}

/* title heading */
h1 {
	font-size: 18pt;
	margin-bottom: 0.5cm;
	text-align: center;
}

/* sub-headings have slightly smaller font size */
h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

/* standard paragraph body text */
p {
	font-family: "Nimbus Roman No9 L", serif;
	font-size: 12pt;
	margin-bottom: 0.25cm;
}

/* all table text */
th, td {
	font-family: "Nimbus Sans L", sans-serif;
	margin-bottom: 0cm;
}

/* table headings */
th {
	background: #3677ac;
	color: #ffffff;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

/* table title */
th.title {
	font-size: 16pt;
}

/* table body text */
td {
	font-size: 12pt;
}

/* end of file */
